@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none; /* Rimuove l'effetto di sottolineatura */
    color: #000; /* Specifica il colore del testo dei link (nero) */
}

:root
{
    --sfondosidebar: #1a1a1a;
    --coloretestosidebarhover: #1a1a1a;
    --main-radius:20px;
    --main-padding:5px;
    --sfondo: #F2F2F2;
    --nero: #000;
    --bianco: #fff;
    --invert: invert(100%);
    --coloretestibox: #1a1a1a;
    --ombra-esterna: 0 7px 25px rgb(192, 192, 192);

}


.fullpage{
    z-index: 0;
    background: var(--sfondo);
    position: relative;
    width: 100%;
    overflow-x: hidden; /* Nasconde l'overflow orizzontale */
}

.contenutopagina{
    margin-left: 320px;
    background-color: var(--sfondo)!important;
}



/* SIDEBAR - inizio */
.sidebar {
    width: 300px;
    height: 100%;
    background: var(--sfondosidebar);
    position: fixed;
    border-left: 10px solid var(--sfondosidebar);
    transition: 0.5s;
    overflow: hidden;
    z-index: 5;
}

.sidebar ul {
    left: 0;
    top: 100px;
    width: 100%;
    position: absolute;
}

.sidebar ul li{
    position: relative;
    width: 200%;
    margin-bottom: 10px;
    list-style: none;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

}

.sidebar ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
    
}

.sidebar ul li:hover a{
    color: var(--coloretestosidebarhover);
}

.sidebar ul li:hover{
    background: var(--sfondo);
}

.sidebar ul li.active a{
    color: var(--coloretestosidebarhover);
}

.sidebar ul li.active{
    background: var(--sfondo);
}



.sidebar ul li a .icona{
    position: relative;
    display: block;
    min-width: 25px;
    padding-top: 18px;
    padding-left: 20px;
    height: 40px;
    text-align: center;
}
/* Cambio il colore dell'icona da Bianca a Nera quando passo su un elemento della sidebar */
.sidebar ul li:hover .icona {
    filter: var(--invert);
}

.sidebar ul li.active .icona {
    filter: var(--invert);
}

.sidebar ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: normal;
}

.sidebar ul li:hover a::before {
    content: '';
    position: absolute;
    right: 50%; /* Posizionamento rispetto al bordo destro dell'elemento padre */
    bottom: -40%; /* Posizionamento rispetto al fondo dell'elemento padre */
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--sfondo);
    pointer-events: none;
    transform: translateY(50%); /* Per centrare verticalmente il cerchio */
}
.sidebar ul li:hover a::after {
    content: '';
    position: absolute;
    right: 50%; /* Posizionamento rispetto al bordo destro dell'elemento padre */
    bottom: 140%; /* Posizionamento rispetto al fondo dell'elemento padre */
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--sfondo);
    pointer-events: none;
    transform: translateY(50%); /* Per centrare verticalmente il cerchio */
}


.sidebar ul li.active a::before {
    content: '';
    position: absolute;
    right: 50%; /* Posizionamento rispetto al bordo destro dell'elemento padre */
    bottom: -40%; /* Posizionamento rispetto al fondo dell'elemento padre */
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--sfondo);
    pointer-events: none;
    transform: translateY(50%); /* Per centrare verticalmente il cerchio */
}
.sidebar ul li.active a::after {
    content: '';
    position: absolute;
    right: 50%; /* Posizionamento rispetto al bordo destro dell'elemento padre */
    bottom: 140%; /* Posizionamento rispetto al fondo dell'elemento padre */
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--sfondo);
    pointer-events: none;
    transform: translateY(50%); /* Per centrare verticalmente il cerchio */
}


.logo{
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 170px;
}


/* SIDEBAR - fine */



/* CARDBOX - inizio */

.cardbox{
    position: relative;
    width: 95%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.cardbox .card{
    position: relative;
    background: var(--bianco);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: var(--ombra-esterna);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardbox .card:hover {
    box-shadow: var(--ombra-esterna); 
    transform: translateY(-5px); 
}


.cardbox .card .numbers{
    position: relative;
    font-weight: 800;
    font-size: 2em;
    color: var(--coloretestibox);

}

.iconCard {
    filter: var(--invert);
    width: 30px;
   
}

.cardName{
    color: var(--coloretestibox);
}
/* CARDBOX - fine */



/* GRAFICI - inizio */

.graphBox{
    position: relative;
    width: 98%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    grid-gap: 5px;
    height: 200px;
    row-gap: 40px;
}

.graphBox .box{
    position: relative;
    margin-left: -35px;
    display: flex;
    padding: 20px;
    width: 91%;
    box-shadow: var(--ombra-esterna);
    border-radius: 20px;
    background: var(--bianco);
}

.graphBox .box1{
    position: relative;
    display: flex;
    padding: 20px;
    width: 86%;
    box-shadow: var(--ombra-esterna);
    border-radius: 20px;
    background: var(--bianco);
    align-items: center;
}


.graphBox .box-eventi{
    position: relative;
    display: flex;
    padding: 20px;
    width: 86%;
    box-shadow: var(--ombra-esterna);
    border-radius: 20px;
    background: var(--bianco);
}

.graficoUno{
    min-width: 360px;
}

/* GRAFICI - fine */

.grigliaimpostazioni{
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    height: 200px;
}

.boximpostazioni{
    background-color: var(--bianco);
    box-shadow: var(--ombra-esterna);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
}

.testodelleimpostazioni {
    color: var(--nero);
    margin-right: 20px;
}




.listaeventi{

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.listadeglieventi{
    margin: 10px;
    padding: 30px;
    background-color: #f2f2f2;
    position: relative;
    align-items: center;
    display: block;
    border-radius: 18px;
    width: auto;

}

.cardbox .card .textstatsdashboard{
    position: relative;
    font-weight: 800;
    font-size: 1em;
    color: var(--coloretestibox);
}